.calculadora{
  display: grid;
  text-align: center;
  justify-content: center;
}

input{
  border-radius: 0.3rem;
  text-align: center;
  width: 10rem;
}

button{
  border-radius: 0.3rem;
  background-color: aquamarine;
}

.display{
  background-color: aliceblue;
  border-radius: 0.3rem;
  margin-top: 3rem;
}

.limpar{
  background-color: rgb(245, 118, 118);
  margin-top: 0.5rem;
}
